body {
	background-image:
		url('http://localhost:8080/CIRSWeb/faces/resources/images/error-bg.png')
}

.mdl-card__title.mdl-card--expand {
	color: #fff;
	background-color: #42A5F5;
	font-size: -webkit-xxx-large;
}

.mdl-card__supporting-text {
	font-size: medium;
}

.mdl-card.mdl-shadow--2dp {
	width: 450px;
	height: 180px !important;
	margin-top: 192px;
}

#content-div {
	width: 450;
	margin-left: auto;
	margin-right: auto;
}

#home-button {
	z-index: 200;
	position: absolute;
	top: 294px;
	left: 810px;
	color: white;
}