@CHARSET "ISO-8859-1";
/*
 * FILE UPLOAD
 */
/* .ui-panel {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	font-size: 100% !important;
	font: inherit !important;
	vertical-align: baseline !important;
	font-family: "Roboto" "Arial" "sans-serif";
}
*/
.ui-fileupload-content {
	visibility: hidden !important;
}

/* .mdl-button.ui-state-focus {
	font-weight: normal !important;
	border: none !important;
	text-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.mdl-button.ui-state-hover {
	font-weight: normal !important;
	border: none !important;
	background: rgba(158, 158, 158, .2);
	text-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px
		rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
	text-shadow: none !important;
}

.mdl-button.ui-state-active {
	font-weight: normal !important;
	border: none !important;
	text-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.ui-paginator-page.ui-state-default.ui-corner-all.ui-state-focus {
	border: none !important;
	text-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.ui-paginator-page.ui-state-default.ui-corner-all.ui-state-hover {
	border: none !important;
	text-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
 */
.ui-paginator-page, .ui-paginator-next, .ui-paginator-last,
	.ui-paginator-first, .ui-paginator-prev {
	border: none !important;
	background: #90CAF9;
	text-shadow: none;
	border-radius: 4.0px;
	width: 24.0px;
}

.ui-paginator-first.ui-state-disabled, .ui-paginator-last.ui-state-disabled,
	.ui-paginator-prev.ui-state-disabled, .ui-paginator-next.ui-state-disabled
	{
	visibility: hidden;
}

.ui-paginator-page.ui-state-active {
	border: none !important;
	background: #64B5F6;
	text-shadow: none;
	border-radius: 4.0px;
	-webkit-box-shadow: inset 0.0 0.0 5.0px #2196F3;
	box-shadow: inset 0.0 0.0 5.0px #2196F3;
}

.ui-paginator-next {
	background-position: center;
	background-repeat: no-repeat;
	background-image:
		url('http://localhost:8080/CIRSWeb/faces/javax.faces.resources/icons/ic_next.png');
}

.ui-paginator-last {
	background-position: center;
	background-repeat: no-repeat;
	background-image:
		url('http://localhost:8080/CIRSWeb/faces/javax.faces.resources/icons/ic_last.png');
}

.ui-paginator-first {
	background-position: center;
	background-repeat: no-repeat;
	background-image:
		url('http://localhost:8080/CIRSWeb/faces/javax.faces.resources/icons/ic_first.png');
}

.ui-paginator-prev {
	background-position: center;
	background-repeat: no-repeat;
	background-image:
		url('http://localhost:8080/CIRSWeb/faces/javax.faces.resources/icons/ic_prev.png');
}

.ui-state-default.ui-sortable-column.ui-filter-column.ui-state-focus.ui-state-active
	{
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ui-column-filter.ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all
	{
	background: none !important;
	box-shadow: inset 0.0px 2.0px 2.0px rgb(255.0, 110.0, 64.0) !important;
}

.ui-state-default.ui-sortable-column.ui-filter-column.ui-state-hover {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.ui-fileupload-buttonbar {
	background-color: transparent !important;
}

/* .ui-icon-plusthick {
	display: none !important;
	visibility: hidden !important;
}
 */
table {
	width: 100.0% !important;
}

.ui-datatable-odd, .ui-datatable-even {
	background: inherit !important;
}
/* 
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next,
	.ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first,
	.ui-paginator .ui-paginator-prev {
	font-weight: normal !important;
	background-color: rgb(255, 110, 64);
} */
.button-container {
	margin-top: 20.0px;
	margin-left: 33.33%;
}

th.ui-state-default {
	background: inherit !important;
	border: inherit !important;
}

.userTable .ui-widget-header {
	background: none;
	border: none;
}

.userTable {
	margin-top: 20.0px;
}

.mdl-snackbar {
	margin-left: 20.0px;
	margin-bottom: 20.0px;
	max-width: 568.0px;
	min-width: 288.0px;
	background-color: #323232;
	color: white;
	bottom: 24.0px;
	left: 14.0px;
	z-index: 1200.0;
	min-height: 20.0px;
	background-color: #323232;
	max-width: 568.0px;
}

.mdl-snackbar-text {
	font-size: 14.0px;
	padding: 16.0px 24.0px 14.0px;
}

.load-dialog, .ui-dialog-content {
	background-color: rgba(255.0, 255.0, 255.0, 0.0);
	border: none;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	overflow: hidden !important;
	padding: 0.0;
}

.ui-widget-overlay {
	background: none;
}

.ui-widget-content.ui-datatable-odd.ui-datatable-selectable.ui-state-highlight,
	.ui-widget-content.ui-datatable-even.ui-datatable-selectable.ui-state-highlight
	{
	background-color: #64B5F6 !important;
	color: #FFFFFF;
	font-weight: bold;
	text-shadow: none;
	font-weight: bold;
}

/*
 * styles taken from mdl-card__title-text
 */
.ui-dialog-title {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	color: inherit;
	display: block;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 24.0px;
	font-weight: 300.0;
	line-height: normal;
	overflow: hidden;
	-webkit-transform-origin: 149.0px 48.0px;
	-ms-transform-origin: 149.0px 48.0px;
	transform-origin: 149.0px 48.0px;
	margin: 0.0;
}
/*
 * styles taken from mdl-card__title
 */
.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #000;
	display: block;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: stretch;
	-webkit-justify-content: stretch;
	-ms-flex-pack: stretch;
	justify-content: stretch;
	line-height: normal;
	padding: 16.0px;
	-webkit-perspective-origin: 165.0px 56.0px;
	perspective-origin: 165.0px 56.0px;
	-webkit-transform-origin: 165.0px 56.0px;
	-ms-transform-origin: 165.0px 56.0px;
	transform-origin: 165.0px 56.0px;
	box-sizing: border-box;
}

.profile-pic {
	width: 100px;
	height: 100px;
}

.ui-panelgrid, .ui-panelgrid-cell {
	border: none !important;
	border-style: none;
}

.mdl-button {
	color: #fff !important;
}

.mdl-checkbox__label {
	margin-left: 20px;
}

.buttonDisplayArea {
	display: table-row;
}

.buttonDisplayArea button {
	display: table-cell;
}

.buttonDisplayArea>.buttonDisplayPadding {
	display: table-cell;
	width: 50%;
}

.linkbutton {
	padding-left: 0px;
	width: inherit;
	color: #fff;
	background: inherit;
	border: none;
}

.linkbutton:HOVER {
	cursor: pointer;
}

.linkbutton:FOCUS {
	border: none;
}

.linkbutton:ACTIVE {
	border: none;
}

.comment-info {
	font-size: smaller;
	font-weight: bold;
}

.comment-data {
	font-size: medium;
}

.comment-rule {
	margin: 5px 0;
}

/* .ui-paginator.ui-paginator-bottom.ui-widget-header.ui-corner-bottom {
	background: none;
	padding: 10px;
}

.ui-paginator-next.ui-state-default.ui-corner-all, .ui-paginator-last.ui-state-default.ui-corner-all
	{
	background: rgb(255, 110, 64);
	border: none;
}

.ui-paginator-next.ui-state-default.ui-corner-all.ui-state-hover {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
} */
/* .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
	{
	border: none;
	font-weight: normal;
	text-shadow: none;
} */