@CHARSET "ISO-8859-1";

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src:
		url(http://localhost:8080/CIRSWeb/faces/resources/fonts/MaterialIcons-Regular.eot);
	/* For IE6-8 */
	src: local('Material Icons'), local('MaterialIcons-Regular'),
		url('http://localhost:8080/CIRSWeb/faces/resources/fonts/MaterialIcons-Regular.woff2')
		format('woff2'),
		url('http://localhost:8080/CIRSWeb/faces/resources/fonts/MaterialIcons-Regular.woff')
		format('woff'),
		url('http://localhost:8080/CIRSWeb/faces/resources/fonts/MaterialIcons-Regular.ttf')
		format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}
/*
	 *HTML components
	 *
	 */
body {
	background-color: #efefef;
}

table {
	width: 100.0% !important;
}

/* 
	 *
	 *Change primefaces attributes  
	 */
.ui-fileupload-content {
	visibility: hidden !important;
}

.ui-paginator {
	background-color: #fff;
}

.ui-paginator-page, .ui-paginator-next, .ui-paginator-last,
	.ui-paginator-first, .ui-paginator-prev {
	border: none !important;
	background: #90CAF9;
	text-shadow: none;
	border-radius: 4.0px;
	width: 24.0px;
}

.ui-paginator-first.ui-state-disabled, .ui-paginator-last.ui-state-disabled,
	.ui-paginator-prev.ui-state-disabled, .ui-paginator-next.ui-state-disabled
	{
	visibility: hidden;
}

.ui-paginator-page.ui-state-active {
	border: none !important;
	background: #64B5F6;
	text-shadow: none;
	border-radius: 4.0px;
	-webkit-box-shadow: inset 0.0 0.0 5.0px #2196F3;
	box-shadow: inset 0.0 0.0 5.0px #2196F3;
}

.ui-paginator-next, .ui-paginator-last, .ui-paginator-first,
	.ui-paginator-prev, .ui-sortable-column-icon {
	background-position: center;
	background-repeat: no-repeat;
}

.ui-sortable-column-icon {
	opacity: 0.4;
	width: 18px;
	height: 18px;
	background-image:
		url('http://localhost:8080/CIRSWeb/faces/javax.faces.resources/icons/ic_sort.png');
}

.ui-sortable-column-icon.ui-icon.ui-icon-carat-2-n-s.ui-icon-triangle-1-n
	{
	width: 18px;
	height: 18px;
	background-image:
		url('http://localhost:8080/CIRSWeb/faces/javax.faces.resources/icons/ic_sort_up.png');
}

.ui-sortable-column-icon.ui-icon.ui-icon-carat-2-n-s.ui-icon-triangle-1-s
	{
	width: 18px;
	height: 18px;
	background-image:
		url('http://localhost:8080/CIRSWeb/faces/javax.faces.resources/icons/ic_sort_down.png');
}

.ui-paginator-next {
	background-image:
		url('http://localhost:8080/CIRSWeb/faces/javax.faces.resources/icons/ic_next.png');
}

.ui-paginator-last {
	background-image:
		url('http://localhost:8080/CIRSWeb/faces/javax.faces.resources/icons/ic_last.png');
}

.ui-paginator-first {
	background-image:
		url('http://localhost:8080/CIRSWeb/faces/javax.faces.resources/icons/ic_first.png');
}

.ui-paginator-prev {
	background-image:
		url('http://localhost:8080/CIRSWeb/faces/javax.faces.resources/icons/ic_prev.png');
}

.ui-state-default.ui-sortable-column.ui-filter-column.ui-state-focus.ui-state-active
	{
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ui-column-filter.ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all
	{
	background: none !important;
	box-shadow: inset 0.0px 2.0px 2.0px rgb(255.0, 110.0, 64.0) !important;
}

.ui-state-default.ui-sortable-column.ui-filter-column.ui-state-hover {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.ui-fileupload-buttonbar {
	background-color: transparent !important;
}

/* .ui-icon-plusthick {
	display: none !important;
	visibility: hidden !important;
}
 */
.ui-datatable-odd, .ui-datatable-even {
	background: inherit !important;
}
/* 
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next,
	.ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first,
	.ui-paginator .ui-paginator-prev {
	font-weight: normal !important;
	background-color: rgb(255, 110, 64);
} */
th.ui-state-default {
	background: inherit !important;
	border: inherit !important;
}

.userTable .ui-widget-header {
	background: none;
	border: none;
}

.userTable {
	margin-top: 20.0px;
}

.load-dialog, .ui-dialog-content {
	background-color: rgba(255.0, 255.0, 255.0, 0.0);
	border: none;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	overflow: hidden !important;
	padding: 0.0;
}

.ui-widget-overlay {
	background: none;
}

.ui-widget-content.ui-datatable-odd.ui-datatable-selectable.ui-state-highlight,
	.ui-widget-content.ui-datatable-even.ui-datatable-selectable.ui-state-highlight
	{
	background-color: #64B5F6 !important;
	color: #FFFFFF;
	font-weight: bold;
	text-shadow: none;
	font-weight: bold;
}

/*
 * styles taken from mdl-card__title-text
 */
.ui-dialog-title {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	color: inherit;
	display: block;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 24.0px;
	font-weight: 300.0;
	line-height: normal;
	overflow: hidden;
	-webkit-transform-origin: 149.0px 48.0px;
	-ms-transform-origin: 149.0px 48.0px;
	transform-origin: 149.0px 48.0px;
	margin: 0.0;
}
/*
 * styles taken from mdl-card__title
 */
.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #000;
	display: block;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: stretch;
	-webkit-justify-content: stretch;
	-ms-flex-pack: stretch;
	justify-content: stretch;
	line-height: normal;
	padding: 16.0px;
	-webkit-perspective-origin: 165.0px 56.0px;
	perspective-origin: 165.0px 56.0px;
	-webkit-transform-origin: 165.0px 56.0px;
	-ms-transform-origin: 165.0px 56.0px;
	transform-origin: 165.0px 56.0px;
	box-sizing: border-box;
}

.ui-panelgrid, .ui-panelgrid-cell {
	border: none !important;
	border-style: none;
}
/**
	 * Custom components
	 */
.button-container {
	margin-top: 20.0px;
	margin-left: 33.33%;
}

.profile-pic {
	width: 100px;
	height: 100px;
}

.buttonDisplayArea {
	display: table-row;
}

.buttonDisplayArea button {
	display: table-cell;
}

.buttonDisplayArea>.buttonDisplayPadding {
	display: table-cell;
	width: 50%;
}

.linkbutton {
	padding-left: 0px;
	width: inherit;
	color: #fff;
	background: inherit;
	border: none;
}

.linkbutton:HOVER {
	cursor: pointer;
}

.linkbutton:FOCUS {
	border: none;
}

.linkbutton:ACTIVE {
	border: none;
}

.comment-info {
	font-size: smaller;
	font-weight: bold;
}

.comment-data {
	font-size: medium;
}

.comment-rule {
	margin: 5px 0;
}

.comment-card {
	background-color: #fff;
	border-radius: 2px;
}

#loadDialog {
	background: transparent;
	border: none;
}

.errorpage {
	background-color: #BBDEFB;
}

.navdrawer-header {
	height: 200px;
	background: linear-gradient(left, #2196f3, #ff6e40);
	background: -webkit-linear-gradient(left, #2196f3, #ff6e40);
	color: #fff;
	padding-left: 10px;
	font-size: xx-large;
}

.navdrawer-header--text {
	font-size: 20px;
	margin-top: 75px;
}

.nav-spacer {
	padding-left: 10px;
}

.status-card {
	margin-top: 25px;
	background-color: #fff;
	border-radius: 2px;
}

.status-card td input[type=radio] {
	background-color: black;
}

/*
 *	Material Design Components
 */
.mdl-menu__container {
	margin-right: 50px;
}

.mdl-snackbar {
	/* Positions snackbar to bottom left */
	margin-left: 20.0px;
	margin-bottom: 20.0px;
	max-width: 568.0px;
	min-width: 288.0px;
	background-color: #323232;
	color: white;
	bottom: 24.0px;
	left: 14.0px;
	z-index: 1200.0;
	min-height: 20.0px;
	background-color: #323232;
	max-width: 568.0px;
}

.mdl-snackbar-text {
	font-size: 14.0px;
	padding: 16.0px 24.0px 14.0px;
}

.mdl-layout__drawer {
	width: 320px;
	left: -320px;
}

.mdl-layout__drawer.is-visible {
	left: 0;
}

.mdl-navigation__link {
	padding: 25px 35px;
}

.mdl-button.mdl-button--colored {
	color: rgb(33, 150, 243) !important;
}

.mdl-button {
	color: #fff !important;
}

.mdl-checkbox__label {
	/*
	Used for switch in add category module
	*/
	margin-left: 20px;
}